.eventSection {
  display: flex;
  margin-top: 50px;
  margin-bottom: 50px;
}

.eventSectionImage {
  flex: 1;
  padding: 0px 30px;
}

.eventSectionImage:nth-child(odd) {
  text-align: right;
}

.eventHeading {
  color: #7cb342 !important;
  font-size: 2rem !important;
  font-family: Changa, sans-serif;
  cursor: pointer;
}

.eventHeading:hover{
  animation : 200ms onhover ease-in-out forwards;
}

.eventPageLink {
  text-decoration: none;
}

.eventText {
  color: white !important;
}

.eventSectionText {
  flex: 1;
}

@keyframes onhover{
  to{
    font-weight: bold;
    transform: scale(1.025);
  }
}

@media only screen and (max-device-width: 540px) {
  .MuiTimelineItem-missingOppositeContent:before {
    display: none !important;
  }
  .eventSection {
    flex-direction: column;
    text-align: center;
  }

  .eventSectionImage:nth-child(odd) {
    text-align: center;
  }

  .eventSection:nth-child(odd) {
    flex-direction: column-reverse !important;
  }
  .footerSection {
    padding: 10px 10px !important;
  }
  .event-timelineOppositeContent {
    display: none !important;
  }
}
