.eventSection {
    display: flex;
    margin-top: 50px;
    margin-bottom: 50px;
}

.eventSectionImage {
    flex: 1;
    padding: 0px 30px;
}

.eventSectionImage:nth-child(odd) {
    text-align: right;
}

.eventHeading {
    color: #7cb342 !important;
    font-size: 2rem !important;
    font-family: Changa, sans-serif;
}

.eventText {
    color: white !important;
}

.eventSectionText {
    flex: 1;
}

@media only screen and (max-device-width: 540px) {
    .eventSection {
        flex-direction: column;
        text-align: center;
    }

    .eventSectionImage:nth-child(odd) {
        text-align: center;
    }

    .eventSection:nth-child(odd) {
        flex-direction: column-reverse !important;        
    }
    .footerSection {
        padding: 10px 10px !important;
    }
}
