body {
    text-decoration: none;
    background-color: black;
    color: white;
}
.main {
    
}

.navbar .item {
    margin-top:0px;
    margin: 10px;
    margin-left: -6px;    
}


.events__card {
    margin: 1rem;
    padding: 2rem;
    background-color: white;
    color: rgb(67, 218, 67);
    
}

.event__logo {
    text-align: center;
    margin-bottom: 1rem;
}

.event__title {
    text-align: center;
    padding: 2rem;
    font-size: 2rem;
    line-height: 3rem;
    letter-spacing: 0.5rem;

    border-bottom: 1px solid grey;
}

.event__content {

    padding: 2rem;
    font-size: 1.5rem;
    line-height: 2rem;
    letter-spacing: 0.1rem;

}