.footer {
    background-color: black;
    min-height: 400px;
}

.footerLogo {
    max-width: 300px;
}

.footerSection {
    flex: 1;
    padding: 40px 40px !important;
}

.footerContent {
    display: flex;
}

@media only screen and (max-device-width: 540px) {
    .footerContent {
        flex-direction: column;
    }
    .footerSection {
        padding: 10px 10px !important;
    }
}
