/* html, body {
    margin: 0;
    padding: 0;
    background-image: url("/images/mlab/prism.png");
    background-repeat: repeat;
    min-height: 100vh;
} */

@keyframes slide_1 {
	0% {
		transform: translateX(100%);
	}

	100% {
		transform: translateX(-300%);
	}
}
@keyframes slide_2 {
	0% {
		transform: translateX(-300%);
	}

	100% {
		transform: translateX(100%);
	}
}

@import './contact_us.css';
@import './events.css';
@import './fonts.css';
@import './footer.css';
@import './hashCode.css';
@import './index.css';
@import './members.css';
@import './navbar.css';
@import './projects.css';
@import './CardCarousel.css';
@import './layout.css';
@import './alt_home.css';
/* @import url('https://fonts.googleapis.com/css2?family=Martian+Mono:wght@100;200;300;400;600;700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100;0,9..40,200;0,9..40,300;0,9..40,400;0,9..40,500;0,9..40,600;0,9..40,700;1,9..40,100&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


html,
body {
	margin: 0;
	padding: 0;
	@apply bg-lab-bg;
}

.dialogAppBar {
	position: 'relative';
	background-color: black !important;
}

.dialogTitle {
	flex: 1;
	margin-left: 24px;
	color: #8bc34a;
}

.dialogContainer {
	background-color: rgb(44, 44, 44) !important;
	color: white !important;
}

.pageHeader {
	color: #8bc34a;
	font-family: 'Red Hat Display', sans-serif !important;
	text-align: center;
	font-size: 3rem !important;
}

.pageSubHeader {
	color: #8bc34a;
	font-family: 'Red Hat Display', sans-serif !important;
	font-size: 2rem !important;
	margin-bottom: 20px !important;
}




.iiz__img {
	width: 600px !important;
}
