/* html, body {
    margin: 0;
    padding: 0;
    background-image: url("/images/mlab/prism.png");
    background-repeat: repeat;
    min-height: 100vh;
} */

.dialogAppBar {
    position: 'relative';
    background-color: black !important;
}

.dialogTitle {
    flex: 1;
    margin-left: 24px;
    color: #8bc34a;
}

.dialogContainer {
    background-color: rgb(44, 44, 44) !important;
    color: white !important;
}

.pageHeader {
    color: #8bc34a;
    font-family: 'Red Hat Display', sans-serif !important;
    text-align: center;
    font-size: 3rem !important;
}

.pageSubHeader {
    color: #8bc34a;
    font-family: 'Red Hat Display', sans-serif !important;
    font-size: 2rem !important;
    margin-bottom: 20px !important;
}


* {
    font-family: 'Red Hat Display', sans-serif !important;
}