.hashCodeSection {
    padding: 50px;
    padding-bottom: 100px;
}
/* 
.hashCodeSection:nth-child(even) {
    background-image: url("/images/mlab/shattered.png");    
    clip-path: polygon(0% 0%, 100% 10%, 100% 90%, 0% 100%);
} */

.hashCodeTitle {
    font-size: 2.5rem !important;
    color: #8bc34a;
    text-align: left;
}

.hashCodeSponsors {
    font-size : 1.5rem !important;
    color: white;
    text-align: left;
}

.hashCodeDescription {
    font-size : 1.2rem !important;
    color: white;
    text-align: left;
}

.hashCodeDate {
    font-size : 2rem !important;
    color: white;
    text-align: left;
}

.hashCodeSection:nth-child(even)  .hashCodeSponsors {
    color: black !important;
}

.hashCodeSection:nth-child(even)  .hashCodeDescription {
    color: black !important;
}

.hashCodeSection:nth-child(even)  .hashCodeDate {
    color: black !important;
}

.sliderImage {
    width: 100%;
    height: 450px;
    margin: 30px 0px !important;
}

@media only screen and (max-device-width: 540px) {
    .hashCodeSection {        
        padding: 100px 10px;

    }
    .sliderImage {        
        height: 200px;        
    }
}