body {
    text-decoration: none;
    background-image: url("../images/mlab/prism.png");
	background-repeat: repeat;
    color: white;
}
.navbar .item {
    margin-top:0px;
    margin: 10px;
    margin-left: -6px;
}

.header {
    color: #5ed14f;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 5rem;
}
.header-content {
    color:white;
    text-align: center;
    font-family: 'Red Hat Display', sans-serif;
    font-size: 2rem;
}

.description {
    font-family: 'Red Hat Display', sans-serif;
    color: green;
    font-size: 1.4rem;
    padding: 40px;
    font-weight: 500;
}

.images {

    height: 100%;
    float: bottom;
    object-fit: cover;
    
}

.year__header {
    font-size: 3rem;
    color: green;
}

.year__sponsors {
    font-size: 1.5rem;
}

.poster img {
    
    height: 100%;
    width: 100%;
    margin-bottom: 20px;
}