.memberCard {
  width: 275px;
  background-color: black !important;
  margin-bottom: 20px;
}

.memberCardImage {
  height: 250px;
}

.memberCardTitle {
  color: white;
}

.memberCardDescription {
  color: white;
}

.memberCardSocialIcons {
  color: #7cb342;
}
