
.projectCard {
  max-width: 345px;
  background-color: black !important;
  animation: slide-1 10s linear infinite;
}

.projectCard:hover {

  scale: 105%;
  box-shadow: 1px 1px 5px 5px #7cb342;
}


.paused {
  animation-play-state: paused;
}

.projectCardTitle {
  color: white;
}

.projectCardDescription {
  color: white;
}

.projectCardImage {
  max-height: 500px;
}

.projectKeywordChip {
  margin: 6px 3px;
  background-color: #7cb342 !important;
  color: black !important;
  font-size: 15px !important;
}

.projectViewContainer {
  margin-top: 6em;
  display: flex;
  
}

.projectViewSectionImage {
  text-align: center;
  flex: 1;
}

.projectViewSectionImage img {
  border-radius: 0.4em;
}

.projectViewSectionText {
  padding: 20px;
  flex: 3;
}

@media only screen and (max-device-width: 540px) {
  .projectViewContainer {
    flex-direction: column-reverse !important;
  }
}

/* spotlight */
.projectCardContainer_sp {
  margin-top: 10px;
}

.projectCard_sp_1 {
  display: flex;
  width: 180px; 
  margin: 0 10px; 
  background-color: black !important;
  animation: slide_1 10s linear infinite;
}

.projectCard_sp_2 {
  display: flex;
  width: 180px; 
  margin: 0 10px; 
  background-color: black !important;
  animation: slide_2 10s linear infinite;
}

.projectCard_sp_1:hover {

  cursor: pointer;
  scale: 103%;
  box-shadow: 1px 1px 5px 5px #7cb342;
}

.projectCard_sp_2:hover {

  cursor: pointer;
  scale: 103%;
  box-shadow: 1px 1px 5px 5px #7cb342;
}



