body {
    text-decoration: none;
    background-color: #000000;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
flex: 1 0 auto;
}



.main{
    margin:10px;
}

.navbar .item {
    margin: 10px;
    margin-left: 0px;
    margin-bottom: 5px;
}


.carousel {
    margin-top: -14px;
    color: white;
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 60vh;
    padding-top: 20px;
    border: 2px solid black;
    box-shadow : 0 1.5rem 4rem rgba(0, 0, 0, 0.3);
    font-size: 30px;
}

.intro {
    background-image: linear-gradient(to bottom , hsla(0, 0%, 0%, 0.89),#2018189d), url(../images/mlab/intro.jpg);
    background-size: cover;  
    padding-top: 2rem;
    color: white;
    transition: all 1s;
    padding-bottom: 2rem;
}

.intro__header {
    color: rgb(160, 159, 159);
    text-transform: uppercase;
    text-align: center;
    animation: moveInLeft 1s ease;
    font-size: 3rem;
    margin-top: 20px;
    margin-left: 10%;
    margin-right: 10%;
    padding-bottom: 1rem;
    transition: all 1s ease-in-out;
    padding-bottom: 5rem;
    line-height: 5rem;
}

.intro__header:hover {
    letter-spacing: 5px;
    border-bottom: 1px solid white; 
    
}

.intro__content {
    color: rgb(76, 175, 101);
    text-align: center;
    font-size: 4rem;
    line-height: 6rem;
    padding-left: 25vw;
    padding-right: 25vw;
    margin-top: 20px;
    animation: moveInBottom 1s ease; 
}

.about {
    background-image: linear-gradient(to bottom right,#359635,hsla(120, 30%, 45%, 0.418)), url(../images/mlab/about.jpg);
    background-size: cover; 
    transition: all 1s;
    margin-top: 10px;
}

.about__header {
    margin-left: 35%;
    margin-right: 35%;
    padding: 2rem;
    text-decoration: uppercase;
    text-align: center;
    font-size: 4rem;
    padding-top: 4rem;
    animation: moveInLeft 1s ease;
    transition: all 1s;
    display: block;
}

.about__header:hover {
    letter-spacing: 10px;
    border-bottom: 1px solid white; 
}

.about__content {
    padding: 2rem;
    text-decoration: uppercase;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 500;
    padding-top: 4rem;
    line-height: 3rem;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 20%;
    transition: all 1s ease-in;
    display: block;;
}

.about__content:hover {
    transform: scale(1.1);
}


.hws {
    margin-top: 10px;
    color: white;
    background-image: linear-gradient(to bottom , #000000c9,rgba(43, 38, 38, 0.616)), url(../images/mlab/hws.jpg);
    background-size: cover;  
    transition: all 1s;
    margin-bottom: 0px;
}

.hws__header {
    padding: 2rem;
    text-decoration: uppercase;
    text-align: center;
    font-size: 4rem;
    padding-top: 4rem;
    animation: moveInLeft 1s ease;
}

.hws__content {
    padding: 2rem;
    text-decoration: uppercase;
    text-align: center;
    font-size: 2rem;
    padding-top: 4rem;
    line-height: 3rem;
    padding-left: 20%;
    padding-right: 20%;
}


.faculty{
    background-image: linear-gradient(to bottom right,hsl(120, 48%, 41%),rgba(57, 170, 57, 0.418)), url(../images/mlab/fac.jpg);
    background-size: cover; 
    transition: all 1s;
    margin: 10px;
    margin-bottom: 0;
    color: black;
    text-align: center;
}

.faculty__header {
    font-size: 3rem;
    padding-top: 2rem;
}

.faculty__content {
    font-size: 1rem;
    padding-top: 6rem;
    padding-bottom: 10rem;
    margin-top: 2rem;
    transition: all 1s ease;
    margin-bottom: 5rem;
}

.faculty__card {
    text-align: left;
    margin-left: 5rem;
    color: black;
    background-color: hsla(0, 0%, 70%, 0.63);
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.3);
    transition: all 1s ease;
}

.faculty__card--name {
    text-align: center;
    line-height: 1rem;
    display: block;
    border-bottom: 1px solid white;
    margin-bottom: 0rem;
    padding-bottom: 1rem;
}

.faculty__card:first-child {
    margin-left: 15rem;
}

.faculty__card:hover {
    transform: scale(1.5);
    background-color: hsla(107, 16%, 76%, 0.61);
    box-shadow:  0 1.5rem 4rem rgba(0, 0, 0, 0.575);
    border: 2px solid #000000;
}
.faculty__icon {
    margin-left: 30%;
    clip-path: circle(35%);
    width: 40%;
    height: 40%;
}

.faculty__card--content {
    padding-bottom: 4rem;
}

footer {
    color: white;
    background-color: black;
}

.footer__card {
    margin: 4rem;
    font-size: 1.4rem;
    line-height: 3rem;
    text-align: left;
    letter-spacing: auto;
    border-right: 2px solid hsla(0, 0%, 100%, 0.356);
}

.footer__content {
    padding-right:4rem;
    
}
.footer__image {
    transform: translateX(50%);
    width: 40%;
    height: 40%;
}

.footer__contact {
    padding: 5rem;
    padding-bottom: 3rem;
    line-height: 2rem;
    letter-spacing: 5px;
}
.contact__where {
    color: #3fc52d;
    transform: translateX(30%);
}

.contact__address {
    transform: translateX(30%);
}

.contact__email {
    font-size:1.5rem;
    margin-bottom: 4rem;
    letter-spacing: 2px;
}

.contact__social {
    margin-top: 5rem;
    position: absolute;
}

.contact__social ul {
    transition: all 2s;
}

.contact__social--link:hover {
    transform: scale(1.25);
}

.contact__social--link-1 {
    background-image: url('../images/mlab/insta.png');
    background-size: cover;  
    margin-right: 30px;
    float: left;
    height: 30px;
    width: 30px;
}

.contact__social--link-2 {
    background-image: url('../images/mlab/facebook.png');
    background-size: cover;  
    margin-right: 30px;
    float: left;
    height: 30px;
    width: 30px;
}

.contact__social--link-3 {
    background-image: url('../images/mlab/linkedin.png');
    background-size: cover;  
    margin-right: 30px;
    float: left;
    height: 30px;
    width: 30px;
}

@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-10rem); }
    80% {
        opactiy: 0.8;
        transform: translateX(1rem); }
    100% {
        opacity: 1;
        transform: translate(0); } }
        
@keyframes moveInRight {
    0% {
      opacity: 0;
      transform: translateX(10rem); }
    80% {
      opactiy: 0.8;
      transform: translateX(-1rem); }
    100% {
      opacity: 1;
      transform: translate(0); } }
  
  @keyframes moveInBottom {
    0% {
      opacity: 0;
      transform: translateY(3rem); }
    80% {
      transform: translateY(-0.5rem); }
    100% {
      transform: translate(0); } }